ul.FM2_verticaltest, ul.FM2_reset, ul.FM2_verticaltest div, ul.FM2_verticaltest span, ul.FM2_verticaltest ul, ul.FM2_verticaltest li, ul.FM2_verticaltest table, ul.FM2_verticaltest tr, ul.FM2_verticaltest th, ul.FM2_verticaltest td, ul.FM2_verticaltest a {
  background: transparent none repeat top left scroll;
  border-left: 0 none #000000;
  border-top: 0 none #000000;
  border-bottom: 0 none #000000;
  border-right: 0 none #000000;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  color: Black;
  font-size: 100%;
}
.relativeDiv {
  position: relative;
}
/*************************************************************************************************/
/* I.A. Global resets */
/*************************************************************************************************/
/* I.A.1. Remove list style */
ul.FM2_verticaltest, ul.FM2_verticaltest ul {
  list-style-type: none;
  list-style-position: outside;
  list-style-image: none;
}
/* I.A.2. Remove anchor outlines when clicked */
ul.FM2_verticaltest a:active, ul.FM2_verticaltest a:focus {
  outline-style: none;
}
/* I.A.3. Force block display on lists and list items */
ul.FM2_verticaltest, ul.FM2_verticaltest ul {
  display: block;
}
ul.FM2_verticaltest li {
  display: block;
}
/* I.A.4. Hide span overflow */
ul.FM2_verticaltest span,ul.FM2_verticaltest font {
  /*overflow: hidden;*/
}
/* I.A.5. Display and positioning for containers */
ul.FM2_verticaltest {
  position: relative;
  display: inline-block;
  width: auto;
}
div.FM2_verticaltest_container {
  z-index: 9999;
  float: left;
  background-image: none;
}
div.FM2_verticaltest_container.stick {
  position: fixed;
  top: 0;
}
*+html ul.FM2_verticaltest {
  display: inline;
}
ul.FM2_verticaltest ul {
  position: absolute;
  z-index: 9999;
}
/* I.A.6. Reset margin to 0 for all menu containers */
ul.FM2_verticaltest, ul.FM2_verticaltest ul {
  margin: 0 0 0 0;
}
/* I.A.7. Reset padding to 0 for all menu containers */
ul.FM2_verticaltest, ul.FM2_verticaltest ul {
  padding: 0 0 0 0;
}
/* I.A.8. Display block for all anchors in list items */
ul.FM2_verticaltest a {
  display: block;
}
/* I.A.9. Display block for all spans in list items, also height 100% */
ul.FM2_verticaltest span,ul.FM2_verticaltest font {
  display: block;
}
/*************************************************************************************************/
/* I.B. Sub-menu visibility */
/*************************************************************************************************/
/* I.B.1. Hide by default all menus of level greater than one */
ul.FM2_verticaltest ul {
  /*display: none;*/
}
/* I.B.2. Establish containing blocks (position: relative) from menu items on hover to be able to position sub-menus */
ul.FM2_verticaltest li {
  position: relative;
}
ul.FM2_verticaltest ul li {
  position: relative;
}
ul.FM2_verticaltest ul ul li {
  position: relative;
}
/* I.B.3. Show submenu when hovering over menu item */
ul.FM2_verticaltest li >ul {
  display: none;
}
/*       * *      * *      * *    ||           ||
	    * * *    * * *    * * *   ||  LEVEL 1  ||
	     * *      * *      * *    ||           ||
*/
/*************************************************************************************************/
/* II.A. Positioning */
/*************************************************************************************************/
/* II.A.1 Left float for horizontal menus (more rows will be generated if available width is overpassed) */
ul.FM2_verticaltest li {
  float: none;
}
*+html ul.FM2_verticaltest li {
  float: left;
}
/* II.A.2. Offsets for submenus: left, top */
ul.FM2_verticaltest {
  top: auto;
  left: auto;
}
/*************************************************************************************************/
/* II.B. Container design */
/*************************************************************************************************/
/* II.B.1. Background (color, image, image repeat, image position) */
/* II.B.2. Border */
/* II.B.3. Explicit container width/height (optional) */
div.FM2_verticaltest_container {
  border-left: 1px solid #000000;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
  width: 163px;
  height: auto;
  background-color: #FFFFFF;
}
/* II.B.4. Container padding */
div.FM2_verticaltest_container {
  padding: 0px 0px 0px 0px;
}
/*************************************************************************************************/
/* II.C. Menu item design (default state) */
/*************************************************************************************************/
/* II.C.1. Padding */
/* II.C.2. Border */
/* II.C.3. Background (color, image, image repeat, image position) */
/* II.C.4. Text color */
/* II.C.5. Font size */
/* II.C.6. Font properties (family, weight, style, decoration) */
/* II.C.7. Text align */
/* II.C.8. Cursor */
/* II.C.9. Explicit item width/height, optional */
ul.FM2_verticaltest li a {
  background: transparent none no-repeat left center scroll;
  border-left: 0px none #ffffff;
  border-top: 0px none #ffffff;
  border-bottom: 1px solid #dddddd;
  border-right: 0px none #ffffff;
  padding: 16px 10px 16px 18px;
  transition: background 0.5s , padding 0.5s , border 0.5s , color 0.5s;
  -webkit-transition: background 0.5s , padding 0.5s , border 0.5s , color 0.5s;
  width: 135px;
  height: auto;
  letter-spacing: 0px;
}
ul.FM2_verticaltest li a, ul.FM2_verticaltest li a span, ul.FM2_verticaltest li a font {
  font: normal normal normal 13px/120% 'Roboto',sans-serif;
  color: #666666;
  text-decoration: none;
  text-align: left;
  cursor: pointer;
}
/* II.C.10. Menu item spacing */
ul.FM2_verticaltest li {
  padding: 0 0px 0px 0px;
}
/*************************************************************************************************/
/* II.D. Menu item design (hover state) */
/*************************************************************************************************/
/* II.D.*. Any of II.C. may be changed but colors should be the most common */
ul.FM2_verticaltest li:hover >a,ul.FM2_verticaltest li.hover >a {
  border-left: 0px none #ffffff;
  border-top: 0px none #ffffff;
  border-bottom: 1px solid #dddddd;
  border-right: 0px none #ffffff;
  letter-spacing: 0px;
  background-color: #00bfff;
  background-image: none;
}
ul.FM2_verticaltest li:hover >a,ul.FM2_verticaltest li.hover >a, ul.FM2_verticaltest li:hover >a span, ul.FM2_verticaltest li.hover >a span, ul.FM2_verticaltest li:hover >a font, ul.FM2_verticaltest li.hover >a font {
  font: normal normal normal 13px/120% 'Roboto',sans-serif;
  color: #ffffff;
  text-decoration: none;
  text-align: left;
  cursor: pointer;
}
/*************************************************************************************************/
/* II.E. Has children icon (default state) */
/*************************************************************************************************/
ul.FM2_verticaltest li a span {
  background-repeat: no-repeat;
  background-image: url('vertical/skin15/dark_blue/arrow.png');
  background-position: right center;
}
ul.FM2_verticaltest li a span, ul.FM2_verticaltest li a font {
  padding: 0px 0px 0px 0px;
}
/*************************************************************************************************/
/* II.F. Has children icon (hover state) */
/*************************************************************************************************/
ul.FM2_verticaltest li:hover >a span,ul.FM2_verticaltest li.hover >a span {
  background-repeat: no-repeat;
  background-position: right center;
  background-image: url('vertical/skin15/dark_blue/arrow_w.png');
}
ul.FM2_verticaltest li:hover >a span,ul.FM2_verticaltest li.hover >a span, ul.FM2_verticaltest li:hover >a font,ul.FM2_verticaltest li.hover >a font {
  padding: 0px 0px 0px 0px;
}
ul.FM2_verticaltest li a.sel span {
  background-repeat: no-repeat;
  background-position: right center;
  background-image: url('vertical/skin15/dark_blue/arrow.png');
}
ul.FM2_verticaltest li a.sel span, ul.FM2_verticaltest li a.sel font {
  padding: 0px 0px 0px 0px;
}
/*************************************************************************************************/
/* III.B. Item customization */
/*************************************************************************************************/
/* III.B.1. Custom default item style */
ul.FM2_verticaltest li a.sel {
  background: transparent none repeat top left scroll;
  border-bottom: 1px solid #dddddd;
  padding: 16px 10px 16px 18px;
  letter-spacing: 0px;
  width: 125px;
  height: auto;
  border-left-width: none;
  border-top-width: none;
  border-right-width: none;
}
ul.FM2_verticaltest li a.sel, ul.FM2_verticaltest li a.sel span, ul.FM2_verticaltest li a.sel font {
  font: normal normal normal 13px/120% 'Roboto',sans-serif;
  color: #00BFFF;
  text-decoration: none;
  text-align: left;
  cursor: pointer;
}
/*       * *      * *      * *    ||           ||
	    * * *    * * *    * * *   ||  LEVEL 2  ||
	     * *      * *      * *    ||           ||
*/
/*************************************************************************************************/
/* II.A. Positioning */
/*************************************************************************************************/
/* II.A.1 Left float for horizontal menus (more rows will be generated if available width is overpassed) */
ul.FM2_verticaltest ul li {
  float: none;
}
/* II.A.2. Offsets for submenus: left, top */
ul.FM2_verticaltest li ul {
  top: -1px;
  left: 170px;
}
/*************************************************************************************************/
/* II.B. Container design */
/*************************************************************************************************/
/* II.B.1. Background (color, image, image repeat, image position) */
/* II.B.2. Border */
/* II.B.3. Explicit container width/height (optional) */
ul.FM2_verticaltest ul {
  border-left: 1px solid #000000;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
  width: 163px;
  height: auto;
  background-color: #ffffff;
  background-image: none;
}
/* II.B.4. Container padding */
ul.FM2_verticaltest ul {
  padding: 0px 0 0px 0;
}
/*************************************************************************************************/
/* II.C. Menu item design (default state) */
/*************************************************************************************************/
/* II.C.1. Padding */
/* II.C.2. Border */
/* II.C.3. Background (color, image, image repeat, image position) */
/* II.C.4. Text color */
/* II.C.5. Font size */
/* II.C.6. Font properties (family, weight, style, decoration) */
/* II.C.7. Text align */
/* II.C.8. Cursor */
/* II.C.9. Explicit item width/height, optional */
ul.FM2_verticaltest ul li a {
  background: transparent none no-repeat left center scroll;
  border-left: 0px none #ffffff;
  border-top: 0px none #ffffff;
  border-bottom: 1px solid #dddddd;
  border-right: 0px none #ffffff;
  padding: 16px 10px 16px 18px;
  width: 135px;
  height: auto;
}
ul.FM2_verticaltest ul li a, ul.FM2_verticaltest ul li a span, ul.FM2_verticaltest ul li a font {
  font: normal normal normal 13px/120% 'Roboto',sans-serif;
  color: #666666;
  text-decoration: none;
  text-align: left;
  cursor: pointer;
}
/* II.C.10. Menu item spacing */
ul.FM2_verticaltest ul li {
  padding: 0 0px 0px 0px;
}
/*************************************************************************************************/
/* II.D. Menu item design (hover state) */
/*************************************************************************************************/
/* II.D.*. Any of II.C. may be changed but colors should be the most common */
ul.FM2_verticaltest ul li:hover >a,ul.FM2_verticaltest ul li.hover >a {
  border-left: 0px none #ffffff;
  border-top: 0px none #ffffff;
  border-bottom: 1px solid #dddddd;
  border-right: 0px none #ffffff;
  letter-spacing: 0px;
  background-color: #00bfff;
  background-image: none;
}
ul.FM2_verticaltest ul li:hover >a,ul.FM2_verticaltest ul li.hover >a, ul.FM2_verticaltest ul li:hover >a span, ul.FM2_verticaltest ul li.hover >a span, ul.FM2_verticaltest ul li:hover >a font, ul.FM2_verticaltest ul li.hover >a font {
  font: normal normal normal 13px/120% 'Roboto',sans-serif;
  color: #ffffff;
  text-decoration: none;
  text-align: left;
  cursor: pointer;
}
/*************************************************************************************************/
/* II.E. Has children icon (default state) */
/*************************************************************************************************/
ul.FM2_verticaltest ul li a span {
  background-repeat: no-repeat;
  background-position: right center;
  background-image: url('vertical/skin15/dark_blue/arrow.png');
}
ul.FM2_verticaltest ul li a span, ul.FM2_verticaltest ul li a font {
  padding: 0px 0px 0px 0px;
}
/*************************************************************************************************/
/* II.F. Has children icon (hover state) */
/*************************************************************************************************/
ul.FM2_verticaltest ul li:hover >a span,ul.FM2_verticaltest ul li.hover >a span {
  background-repeat: no-repeat;
  background-position: right center;
  background-image: url('vertical/skin15/dark_blue/arrow_w.png');
}
ul.FM2_verticaltest ul li:hover >a span,ul.FM2_verticaltest ul li.hover >a span, ul.FM2_verticaltest ul li:hover >a font,ul.FM2_verticaltest ul li.hover >a font {
  padding: 0px 0px 0px 0px;
}
ul.FM2_verticaltest ul li a.sel span {
  background-image: url('vertical/skin15/dark_blue/arrow.png');
  background-repeat: no-repeat;
  background-position: right center;
}
ul.FM2_verticaltest ul li a.sel span, ul.FM2_verticaltest ul li a.sel font {
  padding: 0px 0px 0px 0px;
}
/*************************************************************************************************/
/* III.B. Item customization */
/*************************************************************************************************/
/* III.B.1. Custom default item style */
ul.FM2_verticaltest ul li a.sel {
  border-left: 0px none #ffffff;
  border-top: 0px none #ffffff;
  border-bottom: 1px solid #dddddd;
  border-right: 0px none #ffffff;
  padding: 16px 10px 16px 18px;
  width: 135px;
  height: auto;
  background-color: transparent;
  background-image: none;
}
ul.FM2_verticaltest ul li a.sel, ul.FM2_verticaltest ul li a.sel span, ul.FM2_verticaltest ul li a.sel font {
  font: normal normal bold 12px/100% 'Roboto',sans-serif;
  color: #1bbc9b;
  text-decoration: none;
  text-align: left;
  cursor: pointer;
}
/*       * *      * *      * *    ||           ||
	    * * *    * * *    * * *   ||  LEVEL 3  ||
	     * *      * *      * *    ||           ||
*/
/*************************************************************************************************/
/* II.A. Positioning */
/*************************************************************************************************/
/* II.A.2. Offsets for submenus: left, top */
ul.FM2_verticaltest ul li ul {
  top: -1px;
  left: 170px;
}
/*************************************************************************************************/
/* II.B. Container design */
/*************************************************************************************************/
/* II.B.1. Background (color, image, image repeat, image position) */
/* II.B.2. Border */
/* II.B.3. Explicit container width/height (optional) */
ul.FM2_verticaltest ul ul {
  border-left: 1px solid #000000;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
  width: 163px;
  height: auto;
  background-color: #ffffff;
  background-image: none;
}
/* II.B.4. Container padding */
ul.FM2_verticaltest ul ul {
  padding: 0px 0px 0px 0px;
}
/*************************************************************************************************/
/* II.C. Menu item design (default state) */
/*************************************************************************************************/
/* II.C.1. Padding */
/* II.C.2. Border */
/* II.C.3. Background (color, image, image repeat, image position) */
/* II.C.4. Text color */
/* II.C.5. Font size */
/* II.C.6. Font properties (family, weight, style, decoration) */
/* II.C.7. Text align */
/* II.C.8. Cursor */
/* II.C.9. Explicit item width/height, optional */
ul.FM2_verticaltest ul ul li a {
  background: transparent none no-repeat left center scroll;
  border-left: 0px none #ffffff;
  border-top: 0px none #ffffff;
  border-bottom: 1px solid #dddddd;
  border-right: 0px none #ffffff;
  padding: 16px 10px 16px 18px;
  width: 135px;
  height: auto;
  letter-spacing: 0px;
}
ul.FM2_verticaltest ul ul li a, ul.FM2_verticaltest ul ul li a span, ul.FM2_verticaltest ul ul li a font {
  font: normal normal normal 13px/120% 'Roboto',sans-serif;
  color: #666666;
  text-decoration: none;
  text-align: left;
  cursor: pointer;
}
/* II.C.10. Menu item spacing */
ul.FM2_verticaltest ul ul li {
  padding: 0 0px 0px 0px;
}
/*************************************************************************************************/
/* II.D. Menu item design (hover state) */
/*************************************************************************************************/
/* II.D.*. Any of II.C. may be changed but colors should be the most common */
ul.FM2_verticaltest ul ul li:hover >a,ul.FM2_verticaltest ul ul li.hover >a {
  border-left: 0px none #ffffff;
  border-top: 0px none #ffffff;
  border-bottom: 1px solid #dddddd;
  border-right: 0px none #ffffff;
  padding: 16px 10px 16px 18px;
  letter-spacing: 0px;
  width: 135px;
  height: auto;
  background-color: #00bfff;
  background-image: none;
}
ul.FM2_verticaltest ul ul li:hover >a,ul.FM2_verticaltest ul ul li.hover >a, ul.FM2_verticaltest ul ul li:hover >a span, ul.FM2_verticaltest ul ul li.hover >a span, ul.FM2_verticaltest ul ul li:hover >a font, ul.FM2_verticaltest ul ul li.hover >a font {
  font: normal normal normal 13px/120% 'Roboto',sans-serif;
  color: #ffffff;
  text-decoration: none;
  text-align: left;
  cursor: pointer;
}
/*************************************************************************************************/
/* II.E. Has children icon (default state) */
/*************************************************************************************************/
ul.FM2_verticaltest ul ul li a span {
  background-image: none;
  background-repeat: no-repeat;
  background-position: right center;
}
ul.FM2_verticaltest ul ul li a span, ul.FM2_verticaltest ul ul li a font {
  padding: 0px 0px 0px 0px;
}
/*************************************************************************************************/
/* II.F. Has children icon (hover state) */
/*************************************************************************************************/
ul.FM2_verticaltest ul ul li:hover >a span,ul.FM2_verticaltest ul ul li.hover >a span {
  background-image: none;
  background-repeat: no-repeat;
  background-position: right center;
}
ul.FM2_verticaltest ul ul li:hover >a span,ul.FM2_verticaltest ul ul li.hover >a span, ul.FM2_verticaltest ul ul li:hover >a font,ul.FM2_verticaltest ul ul li.hover >a font {
  padding: 0px 0px 0px 0px;
}
ul.FM2_verticaltest ul ul li a.sel span {
  background-image: none;
  background-repeat: no-repeat;
  background-position: right center;
}
ul.FM2_verticaltest ul ul li a.sel span, ul.FM2_verticaltest ul ul li a.sel font {
  padding: 0px 0px 0px 0px;
}
/*************************************************************************************************/
/* III.B. Item customization */
/*************************************************************************************************/
/* III.B.1. Custom default item style */
ul.FM2_verticaltest ul ul li a.sel {
  border-left: 0px none #ffffff;
  border-top: 0px none #ffffff;
  border-bottom: 1px solid #dddddd;
  border-right: 0px none #ffffff;
  padding: 16px 10px 16px 18px;
  width: 135px;
  height: auto;
  background-color: #00bfff;
  background-image: none;
}
ul.FM2_verticaltest ul ul li a.sel, ul.FM2_verticaltest ul ul li a.sel span, ul.FM2_verticaltest ul ul li a.sel font {
  font: normal normal normal 13px/120% 'Roboto',sans-serif;
  color: #1bbc9b;
  text-decoration: none;
  text-align: left;
  cursor: pointer;
}
/*************************************************************************************************/
/* IV.A Mobile menu customization */
/*************************************************************************************************/
/*presetstart*/
@media screen and (max-width:648px) {
  .FM2_verticaltest_container { 
    display:none;
  }
  a#FM2_verticaltest_mobile_button { 
   display:block;
  }
}
@media screen and (min-width:649px) {
  .FM2_verticaltest_container { 
    display:block;
  }
  
  a#FM2_verticaltest_mobile_button { 
  display:none;
  }
}
.FM2_verticaltest_mobile-overlay {
  background: rgba(0, 0, 0, 0.70) none repeat top left scroll;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  display: inline;
  z-index: 10050;
}
.FM2_verticaltest_mobile-overlay-hide {
  background: rgba(0, 0, 0, 0) none repeat top left scroll;
  display: none;
}
/************************* mobile button ************************/
a#FM2_verticaltest_mobile_button {
  padding: 1em 0px 1em 0px;
  position: relative;
  width: auto;
  text-decoration: none;
  min-width: 50px;
  text-overflow: ellipsis;
  text-align: center;
  overflow: hidden;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #3377FF;
  background-color: #414141;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
}
a#FM2_verticaltest_mobile_button span {
  color: #FFFFFF;
}
a#FM2_verticaltest_mobile_button span.caption {
  text-transform: none;
}
a#FM2_verticaltest_mobile_button span.caption:before {
  background: transparent url("mini_menu.png") no-repeat 0 center scroll;
  width: 18px;
}
a#FM2_verticaltest_mobile_button span.down-arrow {
  display: none;
}
a#FM2_verticaltest_mobile_button span.caption {
  font-size: 14px;
}
/************************* mobile menu ************************/
div#FM2_verticaltest_jq_menu_back div.main-menu-header {
  background: transparent url("close_icon.png") no-repeat center center scroll;
  border-left: 0 none #000000;
  border-top: 0 none #000000;
  border-bottom: 0 none #000000;
  border-right: 0 none #000000;
  padding: 14px 14px 14px 14px;
  position: relative;
  width: 14px;
  height: 14px;
  float: right;
  text-decoration: none;
  min-width: 14px;
  text-overflow: ellipsis;
  text-align: center;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 14px;
  margin-top: 13px;
  margin-left: 10px;
  margin-right: 10px;
}
div#FM2_verticaltest_jq_menu_back div.main-menu-header p span.caption:before {
  background: transparent url("mini_menu.png") no-repeat -2px scroll;
  width: 18px;
  content: ' ';
  height: 20px;
  display: inline-block;
  vertical-align: text-bottom;
  margin-right: 9px;
}
div#FM2_verticaltest_jq_menu_back {
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0) !important;
  font-size: 0.9em;
}
div#FM2_verticaltest_jq_menu_back ul {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
div#FM2_verticaltest_jq_menu_back div.menu-header {
  background: #000 none repeat top left scroll;
  position: relative;
  width: auto;
  display: block;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}
div#FM2_verticaltest_jq_menu_back a {
  padding: 1em 0px 1em 0px;
  overflow: hidden;
  background-color: #3377FF;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
div#FM2_verticaltest_jq_menu_back div.menu-header >a {
  /*margin: 5px 5px 5px 5px;*/
  display: inline-block;
  width: 50px;
  height: 42px;
  float: left;
  background-color: transparent;
  padding-left: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
div#FM2_verticaltest_jq_menu_back div.menu-header >a:hover,div#FM2_verticaltest_jq_menu_back div.menu-header >a.hover {
  background-color: lime;
}
div#FM2_verticaltest_jq_menu_back div.menu-header >p {
  margin: 0 0 0 0;
  color: #FFF;
  text-indent: -40px;
  /*line-height: 50px;*/
}
div#FM2_verticaltest_jq_menu_back div.menu-header >p:hover,div#FM2_verticaltest_jq_menu_back div.menu-header >p.hover {
  color: #CCF;
}
div#FM2_verticaltest_jq_menu_back div.menu-header >p a {
  background: transparent none repeat left top scroll;
  text-decoration: none;
  display: block;
  width: auto;
}
div#FM2_verticaltest_jq_menu_back div.menu-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
div#FM2_verticaltest_jq_menu_back div.menu-container >.menu {
  float: left;
  width: 100%;
}
div#FM2_verticaltest_jq_menu_back div.menu-container ul li {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 50px;
  position: relative;
  background-color: transparent;
  line-height: 50px;
}
div#FM2_verticaltest_jq_menu_back div.menu-container ul li p {
  margin: 0 0 0 0;
}
div#FM2_verticaltest_jq_menu_back div.menu-container ul li a {
  background: transparent none repeat left top scroll;
  border-left: 0 none #000000;
  border-top: 0 none #000000;
  border-bottom: 0 none #000000;
  border-right: 0 none #000000;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  text-decoration: none;
  font-weight: bold;
  font-style: normal;
}
div#FM2_verticaltest_jq_menu_back div.menu-container .branch, div#FM2_verticaltest_jq_menu_back div.menu-container .leaf {
  margin: 0 5px 0 5px;
}
div#FM2_verticaltest_jq_menu_back div.menu-container .branch:before {
  content: "+ ";
}
div#FM2_verticaltest_jq_menu_back div.menu-container .leaf:before {
  content: "- ";
}
div#FM2_verticaltest_jq_menu_back div.menu-container ul li.ellipsis:last-child {
  border-bottom: 2px solid #00BFFF;
}
div#FM2_verticaltest_jq_menu_back div.menu-header >p a {
  border-bottom: 2px solid #00BFFF;
}
div#FM2_verticaltest_jq_menu_back ul {
  margin: 0px 10px 10px 10px;
  list-style-type: none;
}
div#FM2_verticaltest_jq_menu_back div.menu-container div.main-menu ul li.clicked, div#FM2_verticaltest_jq_menu_back div.menu-container div.submenu ul li.clicked {
  background-color: #00BFFF;
}
div#FM2_verticaltest_jq_menu_back div.menu-container ul li.ellipsis a {
  width: auto;
  float: left;
}
div#FM2_verticaltest_jq_menu_back div.menu-container ul li a {
  padding: 0 9px 0 9px;
}
div#FM2_verticaltest_jq_menu_back div.menu-container ul li a, div#FM2_verticaltest_jq_menu_back div.menu-container ul li a span {
  color: white;
}
div#FM2_verticaltest_jq_menu_back div.menu-container .leaf:before, div#FM2_verticaltest_jq_menu_back div.menu-container .branch:before {
  width: 10px;
}
div#FM2_verticaltest_jq_menu_back div.menu-container .leaf:before {
  background: transparent url("mini_circle.png") no-repeat top left scroll;
  opacity: 0.5;
}
div#FM2_verticaltest_jq_menu_back div.menu-container .branch:before {
  background: transparent url("mini_arrow.png") no-repeat top left scroll;
}
div#FM2_verticaltest_jq_menu_back div.menu-container .branch:before, div#FM2_verticaltest_jq_menu_back div.menu-container .leaf:before, a#FM2_verticaltest_mobile_button span.caption:before {
  content: ' ';
  height: 20px;
  display: inline-block;
  vertical-align: text-bottom;
  background-position: -2px 1px;
  margin-right: 9px;
}
div#FM2_verticaltest_jq_menu_back div.menu-container ul li.ellipsis, div#FM2_verticaltest_jq_menu_back div.menu-header >p a {
  background-color: #414141;
}
div#FM2_verticaltest_jq_menu_back div.menu-header, div#FM2_verticaltest_jq_menu_back div.menu-header >a {
  background-color: #00BFFF;
}
div#FM2_verticaltest_jq_menu_back div.menu-header >p a {
  text-align: center;
  color: #FFFFFF;
}
div#FM2_verticaltest_jq_menu_back div.menu-header >a {
  background: transparent url('mini_arrow_large.png') no-repeat 17px 15px scroll;
}
div#FM2_verticaltest_jq_menu_back div.menu-header >a:hover, div#FM2_verticaltest_jq_menu_back div.menu-header >a.hover {
  background-color: transparent;
}
div#FM2_verticaltest_jq_menu_back div.menu-container ul li {
  height: 43px;
  line-height: 0;
}
div#FM2_verticaltest_jq_menu_back div.menu-container ul li.ellipsis a {
  margin-top: 10px;
}
div#FM2_verticaltest_jq_menu_back div.menu-container >.main-menu:before {
  background: #00BFFF none repeat top left scroll;
  margin: 0 10px 0 10px;
  display: block;
  width: auto;
  height: 2px;
  content: ' ';
}
/*presetend*/
/*************************************************************************************************/
/* IV.A Mobile menu skin customization */
/*************************************************************************************************/
div#FM2_verticaltest_jq_menu_back a span, div#FM2_verticaltest_jq_menu_back div.menu-container ul li a, div#FM2_verticaltest_jq_menu_back div.menu-container ul li a span, div#FM2_verticaltest_jq_menu_back div.menu-header >p a {
  color: #FFFFFF;
}
div#FM2_verticaltest_jq_menu_back div.menu-container ul li.ellipsis:last-child,div#FM2_verticaltest_jq_menu_back div.menu-header p >a {
  border-bottom-color: #00bfff;
}
div#FM2_verticaltest_jq_menu_back div.menu-header, div#FM2_verticaltest_jq_menu_back div.menu-header >a, div#FM2_verticaltest_jq_menu_back div.menu-container >.main-menu:before, div#FM2_verticaltest_jq_menu_back div.menu-container div.main-menu ul li.clicked, div#FM2_verticaltest_jq_menu_back div.menu-container div.submenu ul li.clicked {
  background-color: #00bfff;
  border-bottom-color: #00bfff;
}
div#FM2_verticaltest_jq_menu_back div.menu-container ul li.ellipsis, div#FM2_verticaltest_jq_menu_back div.menu-header >p a, div#FM2_verticaltest_jq_menu_back div.main-menu-header, div#FM2_verticaltest_jq_menu_back {
  background-color: #414141;
}
a#FM2_verticaltest_mobile_button {
  background-color: #414141;
  border-left-color: #000;
  border-top-color: #000;
  border-bottom-color: #000;
  border-right-color: #000;
}
a#FM2_verticaltest_mobile_button span {
  color: #FFFFFF;
}
a#FM2_verticaltest_mobile_button span.caption:before, div#FM2_verticaltest_jq_menu_back div.main-menu-header p span.caption:before {
  background-image: url("mini_menu.png");
}
div#FM2_verticaltest_jq_menu_back div.menu-container .branch:before {
  background: transparent url("mini_arrow.png") no-repeat top left scroll;
}
div.FM2_verticaltest_container div.menu-container .leaf:before {
  content: "- ";
}
