.emmahelveticaa10black {
	font-family: Helvetica;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa10blackbold {
	font-family: Helvetica;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa10blacklight {
	font-family: Helvetica;
	font-size: 10px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa11black {
	font-family: Helvetica;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa11blackbold {
	font-family: Helvetica;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa11blacklight {
	font-family: Helvetica;
	font-size: 11px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa12black {
	font-family: Helvetica;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa12blackbold {
	font-family: Helvetica;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa12blacklight {
	font-family: Helvetica;
	font-size: 12px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa13black {
	font-family: Helvetica;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa13blackbold {
	font-family: Helvetica;
	font-size: 13px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa13blacklight {
	font-family: Helvetica;
	font-size: 13px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa14black {
	font-family: Helvetica;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa14blackbold {
	font-family: Helvetica;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa14blacklight {
	font-family: Helvetica;
	font-size: 14px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa15black {
	font-family: Helvetica;
	font-size: 15px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa15blackbold {
	font-family: Helvetica;
	font-size: 15px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa15blacklight {
	font-family: Helvetica;
	font-size: 15px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa16black {
	font-family: Helvetica;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa16blackbold {
	font-family: Helvetica;
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa16blacklight {
	font-family: Helvetica;
	font-size: 16px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa17black {
	font-family: Helvetica;
	font-size: 17px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa17blackbold {
	font-family: Helvetica;
	font-size: 17px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa17blacklight {
	font-family: Helvetica;
	font-size: 17px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa18black {
	font-family: Helvetica;
	font-size: 18px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa18blackbold {
	font-family: Helvetica;
	font-size: 18px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa18blacklight {
	font-family: Helvetica;
	font-size: 18px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa19black {
	font-family: Helvetica;
	font-size: 19px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa19blackbold {
	font-family: Helvetica;
	font-size: 19px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa19blacklight {
	font-family: Helvetica;
	font-size: 19px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa20black {
	font-family: Helvetica;
	font-size: 20px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa20blackbold {
	font-family: Helvetica;
	font-size: 20px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa20blacklight {
	font-family: Helvetica;
	font-size: 20px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa21black {
	font-family: Helvetica;
	font-size: 21px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa21blackbold {
	font-family: Helvetica;
	font-size: 21px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa21blacklight {
	font-family: Helvetica;
	font-size: 21px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa22black {
	font-family: Helvetica;
	font-size: 22px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa22blackbold {
	font-family: Helvetica;
	font-size: 22px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa22blacklight {
	font-family: Helvetica;
	font-size: 22px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa23black {
	font-family: Helvetica;
	font-size: 23px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa23blackbold {
	font-family: Helvetica;
	font-size: 23px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa23blacklight {
	font-family: Helvetica;
	font-size: 23px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa24black {
	font-family: Helvetica;
	font-size: 24px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa24blackbold {
	font-family: Helvetica;
	font-size: 24px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa24blacklight {
	font-family: Helvetica;
	font-size: 24px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa25black {
	font-family: Helvetica;
	font-size: 25px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa25blackbold {
	font-family: Helvetica;
	font-size: 25px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa25blacklight {
	font-family: Helvetica;
	font-size: 25px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa26black {
	font-family: Helvetica;
	font-size: 26px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa26blackbold {
	font-family: Helvetica;
	font-size: 26px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa26blacklight {
	font-family: Helvetica;
	font-size: 26px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa27black {
	font-family: Helvetica;
	font-size: 27px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa27blackbold {
	font-family: Helvetica;
	font-size: 27px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa27blacklight {
	font-family: Helvetica;
	font-size: 27px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa28black {
	font-family: Helvetica;
	font-size: 28px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa28blackbold {
	font-family: Helvetica;
	font-size: 28px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa28blacklight {
	font-family: Helvetica;
	font-size: 28px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa29black {
	font-family: Helvetica;
	font-size: 29px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa29blackbold {
	font-family: Helvetica;
	font-size: 29px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa29blacklight {
	font-family: Helvetica;
	font-size: 29px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa30black {
	font-family: Helvetica;
	font-size: 30px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa30blackbold {
	font-family: Helvetica;
	font-size: 30px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa30blacklight {
	font-family: Helvetica;
	font-size: 30px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa31black {
	font-family: Helvetica;
	font-size: 31px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa31blackbold {
	font-family: Helvetica;
	font-size: 31px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa31blacklight {
	font-family: Helvetica;
	font-size: 31px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa32black {
	font-family: Helvetica;
	font-size: 32px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa32blackbold {
	font-family: Helvetica;
	font-size: 32px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa32blacklight {
	font-family: Helvetica;
	font-size: 32px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa33black {
	font-family: Helvetica;
	font-size: 33px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa33blackbold {
	font-family: Helvetica;
	font-size: 33px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa33blacklight {
	font-family: Helvetica;
	font-size: 33px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa34black {
	font-family: Helvetica;
	font-size: 34px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa34blackbold {
	font-family: Helvetica;
	font-size: 34px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa34blacklight {
	font-family: Helvetica;
	font-size: 34px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa35black {
	font-family: Helvetica;
	font-size: 35px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa35blackbold {
	font-family: Helvetica;
	font-size: 35px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa35blacklight {
	font-family: Helvetica;
	font-size: 35px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa36black {
	font-family: Helvetica;
	font-size: 36px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa36blackbold {
	font-family: Helvetica;
	font-size: 36px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa36blacklight {
	font-family: Helvetica;
	font-size: 36px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa37black {
	font-family: Helvetica;
	font-size: 37px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa37blackbold {
	font-family: Helvetica;
	font-size: 37px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa37blacklight {
	font-family: Helvetica;
	font-size: 37px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa38black {
	font-family: Helvetica;
	font-size: 38px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa38blackbold {
	font-family: Helvetica;
	font-size: 38px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa38blacklight {
	font-family: Helvetica;
	font-size: 38px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa39black {
	font-family: Helvetica;
	font-size: 39px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa39blackbold {
	font-family: Helvetica;
	font-size: 39px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa39blacklight {
	font-family: Helvetica;
	font-size: 39px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa40black {
	font-family: Helvetica;
	font-size: 40px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa40blackbold {
	font-family: Helvetica;
	font-size: 40px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa40blacklight {
	font-family: Helvetica;
	font-size: 40px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa50black {
	font-family: Helvetica;
	font-size: 50px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa50blackbold {
	font-family: Helvetica;
	font-size: 50px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa50blacklight {
	font-family: Helvetica;
	font-size: 50px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa60black {
	font-family: Helvetica;
	font-size: 60px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa60blackbold {
	font-family: Helvetica;
	font-size: 60px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa60blacklight {
	font-family: Helvetica;
	font-size: 60px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa70black {
	font-family: Helvetica;
	font-size: 70px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa70blackbold {
	font-family: Helvetica;
	font-size: 70px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa70blacklight {
	font-family: Helvetica;
	font-size: 70px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa71black {
	font-family: Helvetica;
	font-size: 71px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa71blackbold {
	font-family: Helvetica;
	font-size: 71px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa71blacklight {
	font-family: Helvetica;
	font-size: 71px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa72black {
	font-family: Helvetica;
	font-size: 72px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa72blackbold {
	font-family: Helvetica;
	font-size: 72px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa72blacklight {
	font-family: Helvetica;
	font-size: 72px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa73black {
	font-family: Helvetica;
	font-size: 73px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa73blackbold {
	font-family: Helvetica;
	font-size: 73px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa73blacklight {
	font-family: Helvetica;
	font-size: 73px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa74black {
	font-family: Helvetica;
	font-size: 74px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa74blackbold {
	font-family: Helvetica;
	font-size: 74px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa74blacklight {
	font-family: Helvetica;
	font-size: 74px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa75black {
	font-family: Helvetica;
	font-size: 75px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa75blackbold {
	font-family: Helvetica;
	font-size: 75px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #000000;
}

.emmahelveticaa75blacklight {
	font-family: Helvetica;
	font-size: 75px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #000000;
}









.emmahelveticaa12lightgrey {
	font-family: Helvetica;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #E1E1E1;
}

.emmahelveticaa12lightgreybold {
	font-family: Helvetica;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #E1E1E1;
}

.emmahelveticaa12lightgreylight {
	font-family: Helvetica;
	font-size: 12px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #E1E1E1;
}

.emmahelveticaa12midgrey {
	font-family: Helvetica;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #A4A4A4;
}

.emmahelveticaa12midgreybold {
	font-family: Helvetica;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #A4A4A4;
}

.emmahelveticaa12midgreylight {
	font-family: Helvetica;
	font-size: 12px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #A4A4A4;
}

.emmahelveticaa14grey {
	font-family: Helvetica;
	font-size: 14px;
	font-style: normal;
	font-weight: norma;
	font-variant: normal;
	color: #54545E;
}

.emmahelveticaa14greybold {
	font-family: Helvetica;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #54545E;
}

.emmahelveticaa14greylight {
	font-family: Helvetica;
	font-size: 14px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #54545E;
}

.emmahelveticaa10white {
	font-family: Helvetica;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #FFFFFF;
}

.emmahelveticaa10whitebold {
	font-family: Helvetica;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #FFFFFF;
}

.emmahelveticaa10whitelight {
	font-family: Helvetica;
	font-size: 10px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #FFFFFF;
}

.emmahelveticaa11white {
	font-family: Helvetica;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #FFFFFF;
}

.emmahelveticaa11whitebold {
	font-family: Helvetica;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #FFFFFF;
}

.emmahelveticaa11whitelight {
	font-family: Helvetica;
	font-size: 11px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #FFFFFF;
}

.emmahelveticaa12white {
	font-family: Helvetica;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #FFFFFF;
}

.emmahelveticaa12whitebold {
	font-family: Helvetica;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #FFFFFF;
}

.emmahelveticaa12whitelight {
	font-family: Helvetica;
	font-size: 12px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #FFFFFF;
}

.emmahelveticaa13white {
	font-family: Helvetica;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #FFFFFF;
}

.emmahelveticaa13whitebold {
	font-family: Helvetica;
	font-size: 13px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #FFFFFF;
}

.emmahelveticaa13whitelight {
	font-family: Helvetica;
	font-size: 13px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #FFFFFF;
}

.emmahelveticaa14white {
	font-family: Helvetica;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #FFFFFF;
}

.emmahelveticaa14whitebold {
	font-family: Helvetica;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #FFFFFF;
}

.emmahelveticaa14whitelight {
	font-family: Helvetica;
	font-size: 14px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #FFFFFF;
}

.emmahelveticaa15white {
	font-family: Helvetica;
	font-size: 15px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #FFFFFF;
}

.emmahelveticaa15whitebold {
	font-family: Helvetica;
	font-size: 15px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #FFFFFF;
}

.emmahelveticaa15whitelight {
	font-family: Helvetica;
	font-size: 15px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #FFFFFF;
}

.emmahelveticaa16white {
	font-family: Helvetica;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #FFFFFF;
}

.emmahelveticaa16whitebold {
	font-family: Helvetica;
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #FFFFFF;
}

.emmahelveticaa16whitelight {
	font-family: Helvetica;
	font-size: 16px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #FFFFFF;
}

.emmahelveticaa17white {
	font-family: Helvetica;
	font-size: 17px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #FFFFFF;
}

.emmahelveticaa17whitebold {
	font-family: Helvetica;
	font-size: 17px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #FFFFFF;
}

.emmahelveticaa17whitelight {
	font-family: Helvetica;
	font-size: 17px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #FFFFFF;
}

.emmahelveticaa18white {
	font-family: Helvetica;
	font-size: 18px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #FFFFFF;
}

.emmahelveticaa18whitebold {
	font-family: Helvetica;
	font-size: 18px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #FFFFFF;
}

.emmahelveticaa18whitelight {
	font-family: Helvetica;
	font-size: 18px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #FFFFFF;
}

.emmahelveticaa19white {
	font-family: Helvetica;
	font-size: 19px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #FFFFFF;
}

.emmahelveticaa19whitebold {
	font-family: Helvetica;
	font-size: 19px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #FFFFFF;
}

.emmahelveticaa19whitelight {
	font-family: Helvetica;
	font-size: 19px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #FFFFFF;
}

.emmahelveticaa20white {
	font-family: Helvetica;
	font-size: 20px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #FFFFFF;
}

.emmahelveticaa20whitebold {
	font-family: Helvetica;
	font-size: 20px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #FFFFFF;
}

.emmahelveticaa20whitelight {
	font-family: Helvetica;
	font-size: 20px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #FFFFFF;
}

.emmahelveticaa21white {
	font-family: Helvetica;
	font-size: 21px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #FFFFFF;
}

.emmahelveticaa21whitebold {
	font-family: Helvetica;
	font-size: 21px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #FFFFFF;
}

.emmahelveticaa21whitelight {
	font-family: Helvetica;
	font-size: 21px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #FFFFFF;
}

.emmahelveticaa22white {
	font-family: Helvetica;
	font-size: 22px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #FFFFFF;
}

.emmahelveticaa22whitebold {
	font-family: Helvetica;
	font-size: 22px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #FFFFFF;
}

.emmahelveticaa22whitelight {
	font-family: Helvetica;
	font-size: 22px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #FFFFFF;
}

.emmahelveticaa23white {
	font-family: Helvetica;
	font-size: 23px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #FFFFFF;
}

.emmahelveticaa23whitebold {
	font-family: Helvetica;
	font-size: 23px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #FFFFFF;
}

.emmahelveticaa23whitelight {
	font-family: Helvetica;
	font-size: 23px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #FFFFFF;
}

.emmahelveticaa24white {
	font-family: Helvetica;
	font-size: 24px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #FFFFFF;
}

.emmahelveticaa24whitebold {
	font-family: Helvetica;
	font-size: 24px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #FFFFFF;
}

.emmahelveticaa24whitelight {
	font-family: Helvetica;
	font-size: 24px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #FFFFFF;
}

.emmahelveticaa25white {
	font-family: Helvetica;
	font-size: 25px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #FFFFFF;
}

.emmahelveticaa25whitebold {
	font-family: Helvetica;
	font-size: 25px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #FFFFFF;
}

.emmahelveticaa25whitelight {
	font-family: Helvetica;
	font-size: 25px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #FFFFFF;
}

.emmahelveticaa26white {
	font-family: Helvetica;
	font-size: 26px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #FFFFFF;
}

.emmahelveticaa26whitebold {
	font-family: Helvetica;
	font-size: 26px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #FFFFFF;
}

.emmahelveticaa26whitelight {
	font-family: Helvetica;
	font-size: 26px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #FFFFFF;
}

.emmahelveticaa27white {
	font-family: Helvetica;
	font-size: 27px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #FFFFFF;
}

.emmahelveticaa27whitebold {
	font-family: Helvetica;
	font-size: 27px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #FFFFFF;
}

.emmahelveticaa27whitelight {
	font-family: Helvetica;
	font-size: 27px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #FFFFFF;
}

.emmahelveticaa28white {
	font-family: Helvetica;
	font-size: 28px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #FFFFFF;
}

.emmahelveticaa28whitebold {
	font-family: Helvetica;
	font-size: 28px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #FFFFFF;
}

.emmahelveticaa28whitelight {
	font-family: Helvetica;
	font-size: 28px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #FFFFFF;
}

.emmahelveticaa29white {
	font-family: Helvetica;
	font-size: 29px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #FFFFFF;
}

.emmahelveticaa29whitebold {
	font-family: Helvetica;
	font-size: 29px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #FFFFFF;
}

.emmahelveticaa29whitelight {
	font-family: Helvetica;
	font-size: 29px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #FFFFFF;
}

.emmahelveticaa30white {
	font-family: Helvetica;
	font-size: 30px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #FFFFFF;
}

.emmahelveticaa30whitebold {
	font-family: Helvetica;
	font-size: 30px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #FFFFFF;
}

.emmahelveticaa30whitelight {
	font-family: Helvetica;
	font-size: 30px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #FFFFFF;
}

.emmahelveticaa10darkgrey {
	font-family: Helvetica;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #585858;
}

.emmahelveticaa10darkgreybold {
	font-family: Helvetica;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #585858;
}

.emmahelveticaa10darkgreylight {
	font-family: Helvetica;
	font-size: 10px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #585858;
}

.emmahelveticaa11darkgrey {
	font-family: Helvetica;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #585858;
}

.emmahelveticaa11darkgreybold {
	font-family: Helvetica;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #585858;
}

.emmahelveticaa11darkgreylight {
	font-family: Helvetica;
	font-size: 11px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #585858;
}

.emmahelveticaa12darkgrey {
	font-family: Helvetica;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #585858;
}

.emmahelveticaa12darkgreybold {
	font-family: Helvetica;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #585858;
}

.emmahelveticaa12darkgreylight {
	font-family: Helvetica;
	font-size: 12px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #585858;
}

.emmahelveticaa13darkgrey {
	font-family: Helvetica;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #585858;
}

.emmahelveticaa13darkgreybold {
	font-family: Helvetica;
	font-size: 13px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #585858;
}

.emmahelveticaa13darkgreylight {
	font-family: Helvetica;
	font-size: 13px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #585858;
}

.emmahelveticaa14darkgrey {
	font-family: Helvetica;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #585858;
}

.emmahelveticaa14darkgreybold {
	font-family: Helvetica;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #585858;
}

.emmahelveticaa14darkgreylight {
	font-family: Helvetica;
	font-size: 14px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #585858;
}

.emmahelveticaa15darkgrey {
	font-family: Helvetica;
	font-size: 15px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #585858;
}

.emmahelveticaa15darkgreybold {
	font-family: Helvetica;
	font-size: 15px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #585858;
}

.emmahelveticaa15darkgreylight {
	font-family: Helvetica;
	font-size: 15px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #585858;
}

.emmahelveticaa16darkgrey {
	font-family: Helvetica;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #585858;
}

.emmahelveticaa16darkgreybold {
	font-family: Helvetica;
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #585858;
}

.emmahelveticaa16darkgreylight {
	font-family: Helvetica;
	font-size: 16px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #585858;
}

.emmahelveticaa17darkgrey {
	font-family: Helvetica;
	font-size: 17px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #585858;
}

.emmahelveticaa17darkgreybold {
	font-family: Helvetica;
	font-size: 17px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #585858;
}

.emmahelveticaa17darkgreylight {
	font-family: Helvetica;
	font-size: 17px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #585858;
}

.emmahelveticaa18darkgrey {
	font-family: Helvetica;
	font-size: 18px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #585858;
}

.emmahelveticaa18darkgreybold {
	font-family: Helvetica;
	font-size: 18px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #585858;
}

.emmahelveticaa18darkgreylight {
	font-family: Helvetica;
	font-size: 18px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #585858;
}

.emmahelveticaa19darkgrey {
	font-family: Helvetica;
	font-size: 18px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #585858;
}

.emmahelveticaa19darkgreybold {
	font-family: Helvetica;
	font-size: 19px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #585858;
}

.emmahelveticaa19darkgreylight {
	font-family: Helvetica;
	font-size: 19px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #585858;
}

.emmahelveticaa20darkgrey {
	font-family: Helvetica;
	font-size: 20px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #585858;
}

.emmahelveticaa20darkgreybold {
	font-family: Helvetica;
	font-size: 20px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #585858;
}

.emmahelveticaa20darkgreylight {
	font-family: Helvetica;
	font-size: 20px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #585858;
}

.emmahelveticaa21darkgrey {
	font-family: Helvetica;
	font-size: 21px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #585858;
}

.emmahelveticaa21darkgreybold {
	font-family: Helvetica;
	font-size: 21px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #585858;
}

.emmahelveticaa21darkgreylight {
	font-family: Helvetica;
	font-size: 21px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #585858;
}

.emmahelveticaa22darkgrey {
	font-family: Helvetica;
	font-size: 22px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #585858;
}

.emmahelveticaa22darkgreybold {
	font-family: Helvetica;
	font-size: 22px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #585858;
}

.emmahelveticaa22darkgreylight {
	font-family: Helvetica;
	font-size: 22px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #585858;
}

.emmahelveticaa23darkgrey {
	font-family: Helvetica;
	font-size: 23px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #585858;
}

.emmahelveticaa23darkgreybold {
	font-family: Helvetica;
	font-size: 23px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #585858;
}

.emmahelveticaa23darkgreylight {
	font-family: Helvetica;
	font-size: 23px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #585858;
}

.emmahelveticaa24darkgrey {
	font-family: Helvetica;
	font-size: 24px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #585858;
}

.emmahelveticaa24darkgreybold {
	font-family: Helvetica;
	font-size: 24px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #585858;
}

.emmahelveticaa24darkgreylight {
	font-family: Helvetica;
	font-size: 24px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #585858;
}

.emmahelveticaa25darkgrey {
	font-family: Helvetica;
	font-size: 25px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #585858;
}

.emmahelveticaa25darkgreybold {
	font-family: Helvetica;
	font-size: 25px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #585858;
}

.emmahelveticaa25darkgreylight {
	font-family: Helvetica;
	font-size: 25px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #585858;
}

.emmahelveticaa26darkgrey {
	font-family: Helvetica;
	font-size: 26px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #585858;
}

.emmahelveticaa26darkgreybold {
	font-family: Helvetica;
	font-size: 26px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #585858;
}

.emmahelveticaa26darkgreylight {
	font-family: Helvetica;
	font-size: 26px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #585858;
}

.emmahelveticaa27darkgrey {
	font-family: Helvetica;
	font-size: 27px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #585858;
}

.emmahelveticaa27darkgreybold {
	font-family: Helvetica;
	font-size: 27px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #585858;
}

.emmahelveticaa27darkgreylight {
	font-family: Helvetica;
	font-size: 27px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #585858;
}

.emmahelveticaa28darkgrey {
	font-family: Helvetica;
	font-size:28px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #585858;
}

.emmahelveticaa28darkgreybold {
	font-family: Helvetica;
	font-size: 28px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #585858;
}

.emmahelveticaa28darkgreylight {
	font-family: Helvetica;
	font-size: 28px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #585858;
}

.emmahelveticaa29darkgrey {
	font-family: Helvetica;
	font-size: 29px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #585858;
}

.emmahelveticaa29darkgreybold {
	font-family: Helvetica;
	font-size: 29px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #585858;
}

.emmahelveticaa29darkgreylight {
	font-family: Helvetica;
	font-size: 29px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #585858;
}

.emmahelveticaa30darkgrey {
	font-family: Helvetica;
	font-size: 30px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #585858;
}

.emmahelveticaa30darkgreybold {
	font-family: Helvetica;
	font-size: 30px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #585858;
}

.emmahelveticaa30darkgreylight {
	font-family: Helvetica;
	font-size: 30px;
	font-style: normal;
	font-weight: lighter;
	font-variant: normal;
	color: #585858;
}

.emmahelveticaa12darkgreyboldlistmenu200 {
	font-family: Helvetica;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #585858;
	width: 180px;
}